*.cjs linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.jpg linguist-language=TypeScript
*.png linguist-language=TypeScript
*.svg linguist-language=TypeScript
*.css linguist-language=TypeScript
*.jsx linguist-language=TypeScript
*.mjs linguist-language=TypeScript
*.js linguist-language=TypeScript
*.ts linguist-language=TypeScript